[submodule "development/Dependencies/nlohmann-json-3.11"]	
    path = development/Dependencies/nlohmann-json-3.11
    url = https://github.com/nlohmann/json.git
[submodule "development/Dependencies/DirectXTK12"]
    path = development/Dependencies/DirectXTK12
    url = https://github.com/microsoft/DirectXTK12.git
[submodule "development/Dependencies/googletest"]
    path = development/Dependencies/googletest
    url = https://github.com/google/googletest.git
[submodule "development/Dependencies/flatbuffers"]
    path = development/Dependencies/flatbuffers
    url = https://github.com/google/flatbuffers.git
[submodule "development/Dependencies/DirectX-Headers"]
    path = development/Dependencies/DirectX-Headers
    url = https://github.com/microsoft/DirectX-Headers.git
[submodule "development/Dependencies/DirectXShaderCompiler"]
    path = development/Dependencies/DirectXShaderCompiler
    url = https://github.com/microsoft/DirectXShaderCompiler.git
