# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
development/obj/
**/.vs/
**/build/packages/
development/Tests/**/x64/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.suo
*.db
*.log
*.pdb
/.vs
*.user
*.ilk

development/bin/YagetCore-Test/x64.Release/

development/bin/

development/Tests/YagetCore-Test/packages/

*.idb

*.recipe
